@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");

@mixin flex($dir: row, $wrap: wrap, $ai: center, $jc: center, $ac: center) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  align-items: $ai;
  justify-content: $jc;
  align-content: $ac;
}

@mixin imagen(
  $url: "",
  $size: cover,
  $posicion: center,
  $repeat: no-repeat,
  $parallax: false
) {
  @if $url != "" {
    background-image: url($url);
  }

  background-size: $size;
  background-position: $posicion;
  background-repeat: $repeat;

  @if $parallax ==true {
    background-attachment: fixed;
  }
}

@keyframes santa__mov {
  0%,
  100% {
    bottom: 0;
    left: 0;
    transform: translateX(-100%) rotate(-10deg);
  }
  30% {
    bottom: 100%;
    left: 100%;
    transform: translateX(100%) rotate(-10deg);
  }
  40% {
    bottom: 0;
    left: 100%;
    transform: translateX(100%) rotateY(180deg);
  }
  70% {
    bottom: 0;
    left: 0;
    transform: translateX(-100%) rotateY(180deg);
  }
}

// ... other keyframes ...

.santaWrapper-24-12 {
  pointer-events: none;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 430px;
  height: 155px;
  transform: translateX(-100%);
  animation: santa__mov 15s linear infinite;
  @media screen and (max-width: 768px) {
    display: none;
  }

  .santa-24-12 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 125px;
    height: 107px;
    z-index: 10;
    transform: rotateY(180deg);

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: #520d0d;
    }

    &:before {
      left: -10px;
      width: 126px;
      height: 30px;
      border-radius: 10px 50% 10px 50%;
      transform: rotate(0);
      z-index: 10;
    }

    &:after {
      left: 70px;
      width: 50px;
      height: 53px;
      border-radius: 50% 10px 22px 10px;
      transform: rotate(8deg);
    }

    .hat-24-12 {
      > * {
        position: absolute;
        top: 7px;
        left: 31px;
        width: 43px;
        height: 58px;
        border-radius: 50%;
        transform: rotate(28deg);
        background-color: #d63527;

        &:nth-child(1) {
          &:before,
          &:after {
            content: "";
            position: absolute;
          }

          &:before {
            top: 9px;
            left: 45px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #fff;
          }

          &:after {
            top: 3px;
            left: 19px;
            width: 30px;
            height: 7px;
            border-radius: 50%;
            transform: rotate(22deg);
            background-color: #d63527;
          }
        }

        &:nth-child(2) {
          position: absolute;
          top: 18px;
          left: 31px;
          width: 44px;
          height: 34px;
          border-radius: 50%;
          transform: rotate(12deg);
          background-color: #fff;
        }
      }
    }

    .face-24-12 {
      position: absolute;
      top: 25px;
      left: 37px;
      width: 31px;
      height: 17px;
      border-radius: 20px 20px 50% 50%;
      transform: rotate(10deg);
      background-color: #fde2b7;
      z-index: 10;

      .eyeBrows-24-12 {
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 7px;
        border-radius: 50%;
        background-color: #fff;

        &.left-24-12 {
          top: 2px;
          left: 22px;
          transform: rotate(-65deg);
        }

        &.right-24-12 {
          top: 1px;
          left: 4px;
          transform: rotate(65deg);
        }
      }

      .eye-24-12 {
        position: absolute;
        top: 8px;
        left: 2px;
        width: 3px;
        height: 4px;
        border-radius: 50%;
        background-color: #000;

        &.left-24-12 {
          top: 8px;
          left: 2px;
        }

        &.right-24-12 {
          top: 8px;
          left: 20px;
        }
      }

      .nose-24-12 {
        position: absolute;
        top: 10px;
        left: 6px;
        width: 12px;
        height: 9px;
        border-radius: 50%;
        z-index: 10;
        background-color: #f7d194;
      }

      .cheek-24-12 {
        position: absolute;
        top: 10px;
        left: 6px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        z-index: 10;
        background-color: #f4cfe3;

        &.left-24-12 {
          top: 12px;
          left: -3px;
        }

        &.right-24-12 {
          top: 13px;
          left: 22px;
        }
      }

      .beard-24-12 {
        > * {
          position: absolute;
          top: 8px;
          left: -14px;
          width: 15px;
          height: 17px;
          border-radius: 50%;
          background-color: #fff;

          &:before,
          &:after {
            content: "";
            position: absolute;
            background-color: #fff;
          }

          &:before {
            top: 12px;
            left: 1px;
            width: 15px;
            height: 17px;
            border-radius: 50%;
          }

          &:nth-child(2) {
            top: 16px;
            left: -8px;
            width: 26px;
            height: 30px;

            &:before {
              top: 16px;
              left: 13px;
              width: 19px;
              height: 17px;
            }

            &:after {
              top: 1px;
              left: 13px;
              width: 19px;
              height: 17px;
            }
          }

          &:nth-child(3) {
            top: 16px;
            left: 14px;
            width: 27px;
            height: 28px;

            &:before {
              top: -4px;
              left: 13px;
              width: 17px;
              height: 17px;
            }
          }
        }
      }
    }

    .body-24-12 {
      position: absolute;
      top: 54px;
      left: 16px;
      width: 88px;
      height: 53px;

      &:before {
        content: "";
        position: absolute;
        top: -23px;
        right: -10px;
        width: 53px;
        height: 51px;
        border-radius: 42% 50%;
        background-color: #f3f0f0;
        z-index: -1;
      }

      .sweater-24-12 {
        top: -3px;
        left: 10px;
        position: absolute;
        width: 45px;
        height: 39px;
        border-radius: 50% 50% 10% 10%;
        background-color: #d63527;
        z-index: 5;

        &:before {
          content: "";
          top: 28px;
          left: 0px;
          position: absolute;
          width: 45px;
          height: 5px;
          background-color: #000;
          transform: rotate(1deg);
        }

        &:after {
          content: "";
          top: 27px;
          left: 10px;
          position: absolute;
          width: 7px;
          height: 5px;
          background-color: #000;
          border: 1px solid #fff;
          border-radius: 3px;
          transform: rotate(1deg);
        }
      }

      .hand-24-12 {
        position: absolute;

        &.left-24-12 {
          top: 5px;
          left: 19px;
          width: 33px;
          height: 30px;
          overflow: hidden;

          .inner-24-12 {
            position: absolute;
            top: 10px;
            left: 8px;
            width: 49px;
            z-index: 100;
            height: 7px;
            border-radius: 10px;
            transform: rotate(12deg);
            background-color: #d63527;
            animation: santa__hand-right 0.3s linear alternate infinite;

            &:before {
              content: "";
              position: absolute;
              width: 8px;
              height: 7px;
              top: -2px;
              left: -6px;
              background-color: #000;
              border-radius: 50%;
              transform: rotate(25deg);
            }
          }
        }

        &.right-24-12 {
          top: 4px;
          left: 3px;
          width: 11px;
          height: 7px;
          border-radius: 10px;
          background-color: #d63527;
          transform: rotate(25deg);
          animation: santa__hand-left 0.3s linear alternate infinite;

          &:before {
            content: "";
            position: absolute;
            width: 8px;
            height: 7px;
            top: -2px;
            left: -6px;
            background-color: #000;
            border-radius: 50%;
            transform: rotate(10deg);
          }
        }
      }
    }
  }

  .rope-24-12 {
    position: absolute;
    top: 92px;
    left: 84px;
    width: 182px;
    height: 33px;
    overflow: hidden;
    z-index: 10;
    transform: rotate(0deg);
    transform-origin: bottom right;
    animation: rope__right 0.3s linear alternate infinite;

    &.back-24-12 {
      top: 85px;
      left: 105px;
      width: 149px;
      transform: rotate(4deg);
      z-index: 0;
      transform-origin: top left;
      animation: rope__left 0.3s linear alternate infinite;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -12px;
      width: 100%;
      height: 48px;
      border-bottom: 1px solid #fff;
      border-radius: 50%;
    }
  }

  .sled-24-12 {
    position: absolute;
    bottom: -12px;
    left: 0px;
    width: 145px;
    height: 11px;
    transform: rotate(-3deg);
    border-bottom: 5px solid #690e00;
    border-right: 5px solid #690e00;
    border-radius: 10px;
    z-index: 10;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 5px;
      background-color: #690e00;
    }

    &:before {
      top: 2px;
      left: 34px;
      height: 9px;
    }

    &:after {
      top: 3px;
      left: 108px;
      width: 5px;
      height: 8px;
    }
  }

  .reindeer-24-12 {
    position: absolute;
    width: 115px;
    height: 155px;
    top: 50px;
    right: 0;
    transform: rotate(14deg) translateX(calc(-100% - 30px));
    z-index: 0;

    &.second-24-12 {
      top: 0;
      transform: rotate(14deg);

      .rope-24-12 {
        top: 70px;
        left: -55px;
        width: 155px;
        transform: rotate(-15deg);
        animation: rope__inner 0.3s linear alternate infinite;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 65px;
      left: 76px;
      width: 8px;
      height: 31px;
      background-color: #520d0d;
      z-index: 10;
      transform: rotate(-55deg);
    }

    &:after {
      content: "";
      position: absolute;
    }

    .face-24-12 {
      position: absolute;
      width: 30px;
      height: 22px;
      top: 44px;
      left: 72px;
      border-radius: 10px 10px 50% 50%;
      transform: rotate(-3deg);
      background-color: #cca58b;

      &:before {
        content: "";
        position: absolute;
        background-color: #cca58b;
        width: 29px;
        height: 16px;
        border-radius: 50%;
        top: 0px;
        left: 11px;
        transform: rotate(-49deg);
      }

      &:after {
        content: "";
        position: absolute;
        background-color: #000;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        top: -8px;
        left: 31px;
      }

      .ear-24-12 {
        position: absolute;
        width: 21px;
        height: 11px;
        top: 4px;
        left: -18px;
        border-radius: 4px 0 50% 50%;
        transform: rotate(4deg);
        background-color: #cca58b;

        &:before {
          content: "";
          position: absolute;
          top: -2px;
          left: 34px;
          width: 4px;
          height: 5px;
          border-radius: 50%;
          transform: rotate(-35deg);
          background-color: #000;
        }
      }

      .horn-24-12 {
        position: absolute;
        width: 29px;
        height: 4px;
        top: -7px;
        left: -21px;
        border-radius: 2px;
        transform: rotate(38deg);
        background-color: #f0dbc2;

        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: #f0dbc2;
          border-radius: 2px;
        }

        &.left-24-12 {
          top: -7px;
          left: -21px;

          &:before {
            top: -4px;
            left: 6px;
            width: 14px;
            height: 4px;
            transform: rotate(43deg);
          }

          &:after {
            top: -4px;
            left: 13px;
            width: 14px;
            height: 4px;
            -webkit-transform: rotate(43deg);
            transform: rotate(53deg);
          }
        }

        &.right-24-12 {
          top: -12px;
          left: -6px;
          width: 24px;
          transform: rotate(62deg);

          &:before {
            top: -3px;
            left: 5px;
            width: 10px;
            height: 4px;
            transform: rotate(43deg);
          }

          &:after {
            top: -3px;
            left: 11px;
            width: 10px;
            height: 4px;
            transform: rotate(53deg);
          }
        }
      }
    }

    .body-24-12 {
      position: absolute;
      width: 58px;
      height: 31px;
      top: 84px;
      left: 28px;
      border-radius: 50% 0;
      transform: rotate(-3deg);
      background-color: #cca58b;

      &:before {
        content: "";
        position: absolute;
        width: 46px;
        height: 26px;
        top: -15px;
        left: 32px;
        border-radius: 0 0 50% 50%;
        -webkit-transform: rotate(-3deg);
        transform: rotate(-55deg);
        background-color: #cca58b;
      }

      &:after {
        content: "";
        position: absolute;
        width: 43px;
        height: 26px;
        top: -11px;
        left: 29px;
        border-radius: 0 0 50% 50%;
        -webkit-transform: rotate(-3deg);
        transform: rotate(-30deg);
        background-color: #cca58b;
      }

      .foot-24-12 {
        &.front-24-12 {
          .inner-24-12 {
            position: absolute;
            width: 40px;
            height: 8px;
            top: 13px;
            left: 35px;
            border-radius: 0 50%;
            transform: rotate(-17deg);
            background-color: #cca58b;
            animation: reindeer__leg-front 0.3s linear alternate infinite;

            .extension-24-12 {
              position: absolute;
              width: 28px;
              height: 8px;
              top: 3px;
              left: 100%;
              border-radius: 2px 50%;
              transform: rotate(131deg);
              background-color: #cca58b;
              transform-origin: top left;
              animation: reindeer__leg-front-extension 0.2s linear alternate
                infinite;

              &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -2px;
                width: 7px;
                height: 8px;
                border-radius: 2px;
                background-color: #000;
              }
            }
          }
        }

        &.back-24-12 {
          .inner-24-12 {
            position: absolute;
            width: 56px;
            height: 9px;
            top: 37px;
            left: -29px;
            border-radius: 0 50%;
            transform: rotate(-73deg);
            animation: reindeer__leg-back 0.3s linear alternate infinite;

            &:before {
              content: "";
              position: absolute;
              width: 25px;
              height: 16px;
              top: 4px;
              left: 25px;
              border-radius: 0 50%;
              transform: rotate(15deg);
              background-color: #cca58b;
            }

            &:after {
              content: "";
              position: absolute;
              right: 0;
              width: 65%;
              height: 100%;
              background-color: #cca58b;
            }

            .extension-24-12 {
              position: absolute;
              top: 0;
              left: 0;
              width: 28px;
              height: 8px;
              background: #cca58b;
              border-radius: 2px 50%;
              transform-origin: top right;
              animation: reindeer__leg-back-extension 0.2s linear alternate
                infinite;

              &:after {
                content: "";
                position: absolute;
                width: 8px;
                height: 9px;
                top: -2px;
                left: -2px;
                border-radius: 2px 0 2px 2px;
                transform: rotate(14deg);
                background-color: #000;
              }
            }
          }
        }

        .tail-24-12 {
          position: absolute;
          width: 27px;
          height: 26px;
          top: 6px;
          left: -8px;
          border-radius: 50% 2px;
          transform: rotate(-17deg);
          background-color: #cca58b;

          &:before {
            content: "";
            position: absolute;
            background-color: #cca58b;
            border-radius: 50%;
            top: -2px;
            left: -3px;
            width: 15px;
            height: 5px;
            transform: rotate(25deg);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .countdownSection-24-12 {
    .decorations-24-12 {
      .decoration-24-12 {
        width: 300px;
        height: 300px;
      }
    }

    .container-24-12 {
      .counterWrapper-24-12 {
        p {
          font-size: 70px;
        }

        .countdown-24-12 {
          margin: 20px 0;

          .countdownProp-24-12 {
            width: 120px;
            font-size: 100px;
            line-height: 80px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .countdownSection-24-12 {
    .decorations-24-12 {
      .santaWrapper-24-12 {
        display: none;
      }
    }

    .container-24-12 {
      .counterWrapper-24-12 {
        p {
          font-size: 50px;
        }

        .countdown-24-12 {
          .countdownProp-24-12 {
            display: block;

            &:not(:first-child) {
              &:before {
                display: none;
              }
            }

            &:after {
              display: block;
            }
          }
        }
      }
    }
  }
}
