.OldForNew-Section-leather-case {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fefce3;
  padding: 20px 0px;
}
.product-combo-sac-du-phong {
  margin: auto;
  padding: 10px 10px;
  background: linear-gradient(
    180deg,
    rgb(0, 119, 255) 0%,
    var(--bg-gradient-white, rgba(255, 255, 255, 1)) 90%
  );
  border-radius: 15px;
}
.list-product-combo-bao-da {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2rem;
  @media screen and (max-width: "1200px") {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: "850px") {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: "768px") {
    grid-template-columns: repeat(2, 1fr);
  }
}
.list-tab-parent {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 6px;
  justify-content: center;
  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  @media screen and (max-width: "768px") {
    overflow-x: auto;
    flex-wrap: unset !important;
    justify-content: unset !important;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
  button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  button.active {
    background-color: red;
    color: white;
  }
}
.list-child-tab {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 6px;

  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  @media screen and (max-width: "768px") {
    overflow-x: auto;
    flex-wrap: unset !important;
    justify-content: unset !important;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
.tab-child {
  display: flex;
  justify-content: center;
}
.tab-parent button,
.tab-child button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
}

.tab-parent button.active,
.tab-child button.active {
  background-color: red;
  color: white;
}
.btn-see-more {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
