.btn-tab-warehouse-discharge {
  background: white;
  width: max-content;
  height: max-content;
  padding: 10px 15px;
  border-radius: 10px;
  color: #000;
  font-weight: 600;
  @media (max-width: 767px) {
    margin: auto;
    padding: 10px 10px;
  }
}
.btn-tab-warehouse-discharge_active {
  background: red;
  color: #fff;
}
.btn-see-more {
  border: 1px solid red;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 20px;
  display: block;
  margin: 0px auto;
  &:hover {
    border: 1px solid rgb(255, 82, 82);
    cursor: pointer;
  }
}
